{% extends 'main/base.html' %}
{% block title %} 
    {{ title }}
{% endblock %}



{% block aside %}

<h1><a href="{% url 'groups' %}">{{ title_view_groups }}</a></h1> 
<br><br>

{% for el in groups %}
<p><a href="{{ el.get_absolute_url }}">{{ el.title }}</a></p>
<br>
{% endfor %}

{% endblock %}




{% block content %}

<h1>{{ title_view_apps }}</h1>
<br><br>
<div id="content">
{% for app in apps %}

<div class="app">

    <a href="{{ app.get_absolute_url }}"><img class='img_app' width="100%" src="{{ app.image.url }}" alt=""></a>
    <a class="link_app" href="{{ app.get_absolute_url }}">{{ app.title }}</a>

</div>

{% endfor %}

</div>

{% endblock %}